#piano-wrapper {
  border: 1px solid #000;
  margin-bottom: 15px;
  padding-top: 50%;
  position: relative;
}

#piano {
  @extend .list-unstyled;
  display: flex;
  height: 100%;
  position: absolute;
  text-align: center;
  top: 0;
  width: 100%;

  li {
    display: flex;
    flex-grow: 1;

    &.white {
      border-right: 1px solid #000;
    }

    &.black {
      background: #000;
      border-color: #000;
      border-style: solid;
      border-width: 0 2px 1px;
      color: #fff;
      padding: 37% 5px 5px;
      position: absolute;
      width: 5%;
    }

    &:last-child {
      border-right: 0;
    }

    .key-label {
      align-self: flex-end;
      flex-grow: 1;
    }
  }
}

.active {
  background: #666 !important;
}
