$finger-color-1: #19a78c;
$finger-color-2: #ea9901;
$finger-color-3: #c205ff;
$finger-color-4: #009bf2;
$finger-color-5: #ea5b3e;

#piano-wrapper {
  border: 1px solid #000;
  margin-bottom: 15px;
  padding-top: 40%;
  position: relative;
}

#piano {
  @extend .list-unstyled;
  display: flex;
  height: 100%;
  position: absolute;
  text-align: center;
  top: 0;
  width: 100%;

  li {
    display: flex;
    flex-grow: 1;
    padding-bottom: 5px;

    &:nth-child(2) {
      left: 4%;
    }

    &:nth-child(4) {
      left: 11%;
    }

    &:nth-child(7) {
      left: 23.5%;
    }

    &:nth-child(9) {
      left: 30.5%;
    }

    &:nth-child(11) {
      left: 37.5%;
    }

    &:nth-child(14) {
      left: 50.5%;
    }

    &:nth-child(16) {
      left: 57.5%;
    }

    &:nth-child(19) {
      left: 70.5%;
    }

    &:nth-child(21) {
      left: 77.5%;
    }

    &:nth-child(23) {
      left: 84%;
    }

    &.black {
      background-color: #000;
      border-color: #000;
      border-style: solid;
      border-width: 0 1px 1px;
      color: #fff;
      padding-top: 23%;
      position: absolute;
      width: 5.2%;
    }

    &.black.active {
      background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 50%, #989898);
    }

    &.white {
      border-right: 1px solid #000;
      font-weight: bold;
    }

    &.white.active {
      background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 50%, #ccc);
    }

    &.finger-1 {
      background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 50%, $finger-color-1);
    }

    &.finger-2 {
      background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 50%, $finger-color-2);
    }

    &.finger-3 {
      background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 50%, $finger-color-3);
    }

    &.finger-4 {
      background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 50%, $finger-color-4);
    }

    &.finger-5 {
      background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 50%, $finger-color-5);
    }

    &:last-child {
      border-right: 0;
    }

    .piano-key-label {
      align-self: flex-end;
      flex-grow: 1;
    }
  }
}

.scale-table {
  @extend .table;
  font-weight: bold;
  width: auto;

  .finger-1 {
    color: $finger-color-1;
  }

  .finger-2 {
    color: $finger-color-2;
  }

  .finger-3 {
    color: $finger-color-3;
  }

  .finger-4 {
    color: $finger-color-4;
  }

  .finger-5 {
    color: $finger-color-5;
  }
}
